<?xml version="1.0"?>
<config>
    <modules>
        <Janrain_JUMP>
            <version>0.1.0</version>
        </Janrain_JUMP>
    </modules>

    <frontend>
        <layout>
            <updates>
                <jump>
                    <file>jump.xml</file>
                </jump>
            </updates>
        </layout>
        <routers>
            <customer>
                <use>standard</use>
                <args>
                    <modules>
                        <Janrain_JUMP before="Mage_Customer_AccountController">Janrain_JUMP</Janrain_JUMP>
                    </modules>
                </args>
            </customer>
            <!--
            <jump>
                <use>admin</use>
                <args>
                    <modules>
                        <Janrain_JUMP before="Mage_Core">Janrain_JUMP_Jump</Janrain_JUMP>
                        <frontName>jump</frontName>
                    </modules>
                </args>
            </jump>-->
        </routers>
    </frontend>
    <global>
        <events>
            <controller_action_predispatch>
                <observers>
                    <test>
                        <class>Janrain_JUMP_Model_Observer</class>
                        <method>cms_page_render</method>
                    </test>
                </observers>
            </controller_action_predispatch>
        </events>
        <blocks>
            <jump>
                <class>Janrain_JUMP_Header_Block</class>
                <class>Janrain_JUMP_Widget_Block</class>
                <class>Janrain_JUMP_Block</class>
            </jump>
        </blocks>

        <models>
            <jump>
                <class>Janrain_JUMP_Model</class>
                <resourceModel>jump_mysql4</resourceModel>
            </jump>
            <jump_mysql4>
                <class>Janrain_JUMP_Model_Mysql4</class>
                <entities>
                    <janrain_jump>
                        <table>janrain_jump</table>
                    </janrain_jump>
                </entities>
            </jump_mysql4>
            <customer>
                <rewrite>
                    <customer>Janrain_JUMP_Model_Customer</customer>
                </rewrite>
            </customer>
        </models>

        <helpers>
            <janrain_jump>
                <class>Janrain_JUMP_Helper</class>
            </janrain_jump>
        </helpers>

        <resources>
            <jump_setup>
                <setup>
                    <module>Janrain_JUMP</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </jump_setup>
            <jump_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </jump_write>
            <jump_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </jump_read>
        </resources>
    </global>
</config>
