<?xml version="1.0"?>
<config>
    <modules>
        <Janrain_JUMP>
            <version>0.1.0</version>
        </Janrain_JUMP>
    </modules>

    <frontend>
        <layout>
            <updates>
                <jump>
                    <file>jump.xml</file>
                </jump>
            </updates>
        </layout>
    </frontend>

    <global>
        <blocks>
            <jump>
                <class>Janrain_JUMP_Header_Block</class>
            </jump>
        </blocks>

        <models>
            <janrain_jump>
                <class>Janrain_JUMP_Model</class>
            </janrain_jump>
        </models>
    </global>
</config>