<?xml version="1.0"?>
<config>
	<sections>
		<jump translate="label" module="janrain_jump">
			<label>JUMP</label>
			<tab>janrain</tab>
			<show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
			<groups>
				<mapping>
					<label>Mapping</label>
					<expanded>1</expanded>
					<show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
					<frontend_type>text</frontend_type>
					<frontend_model>janrain_jump/mappingFieldGroup</frontend_model>
				</mapping>
				<advanced translate='label'>
					<label>Advanced Settings</label>
					<expanded>1</expanded>
					<show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
					<fields>
						<capture.dataMapping>
							<label>Data Mapping JSON</label>
							<frontend_type>textarea</frontend_type>
							<validate>validate-json</validate>
							<show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
						</capture.dataMapping>
					</fields>
				</advanced>
				<capture_settings translate="label">
					<label>Capture Settings</label>
					<expanded>1</expanded>
					<show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
					<fields>
						<capture.clientId translate="label">
							<depends><capture.enabled>1</capture.enabled></depends>
							<label>Client ID</label>
							<validate>validate-alphanum</validate>
							<show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
						</capture.clientId>
						<capture.client_secret translate="label">
							<depends><capture.enabled>1</capture.enabled></depends>
							<label>Client Secret</label>
							<validate>validate-alphanum</validate>
							<show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
						</capture.client_secret>
						<capture.captureServer translate="label">
							<depends><capture.enabled>1</capture.enabled></depends>
							<label>Server</label>
							<validate>validate-clean-url</validate>
							<show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
						</capture.captureServer>
						<capture.appId translate="label">
							<depends><capture.enabled>1</capture.enabled></depends>
							<label>App ID</label>
							<validate>validate-alphanum</validate>
							<show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
						</capture.appId>
						<capture.enabled translate="label">
							<label>Enable Capture?</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_enabledisable</source_model>
							<show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
						</capture.enabled>
					</fields>
				</capture_settings>
				<engage_settings translate="label">
					<label>Engage Settings</label>
					<expanded>1</expanded>
					<show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
					<fields>
						<tokenUrl translate="label">
							<depends><engage.enabled>1</engage.enabled></depends>
							<label>Token URL</label>
							<validate>validate-clean-url</validate>
							<show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
						</tokenUrl>
						<appId translate="label">
							<depends><engage.enabled>1</engage.enabled></depends>
							<label>App ID</label>
							<validate>validate-alphanum</validate>
							<show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
						</appId>
						<appUrl translate="label">
							<depends><engage.enabled>1</engage.enabled></depends>
							<label>App URL</label>
							<validate>validate-clean-url</validate>
							<show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
						</appUrl>
						<loadJsUrl translate="label">
							<depends><engage.enabled>1</engage.enabled></depends>
							<label>Load.js URL</label>
							<validate>validate-clean-url</validate>
							<show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
						</loadJsUrl>
						<engage.enabled translate="label">
							<label>Enable Engage?</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_enabledisable</source_model>
							<show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
						</engage.enabled>
					</fields>
				</engage_settings>
				<capture_import_export translate="label">
					<label>Import and Export Configuration</label>
					<expanded>1</expanded>
					<frontend_type>text</frontend_type>
					<sort_order>150</sort_order><show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
					<fields>
						<capture.exportConfig translate="label">
							<label>Export Configuration</label>
							<frontend_type>button</frontend_type>
							<frontend_model>janrain_jump/admin_export</frontend_model>
							<show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
						</capture.exportConfig>
						<capture.import translate="label">
							<label>Import Configuration</label>
							<frontend_type>file</frontend_type>
							<backend_model>adminhtml/system_config_backend_file</backend_model>
							<show_in_default>1</show_in_default><show_in_website>1</show_in_website><show_in_store>1</show_in_store>
						</capture.import>
					</fields>
				</capture_import_export>
			</groups>
		</jump>
	</sections>
</config>
