<?xml version="1.0"?>
<config>
	<tabs>
		<janrain translate="label" module="janrain_jump">
			<label>Janrain</label>
			<sort_order>250</sort_order>
		</janrain>
	</tabs>
	<sections>
		<jump translate="label" module="janrain_jump">
			<label>JUMP</label>
			<tab>janrain</tab>
			<frontend_type>text</frontend_type>
			<sort_order>100</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<capture_settings translate="label">
					<label>Capture Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>50</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<capture.clientId translate="label">
							<label>Capture Client ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>100</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</capture.clientId>
						<capture.captureServer translate="label">
							<label>Capture Server</label>
							<frontend_type>text</frontend_type>
							<sort_order>200</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</capture.captureServer>
						<capture.loadJsUrl translate="label">
							<label>Capture load.js URL</label>
							<frontend_type>text</frontend_type>
							<sort_order>300</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</capture.loadJsUrl>
						<capture.appId translate="label">
							<label>Capture App ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>400</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</capture.appId>
					</fields>
				</capture_settings>
			</groups>
		</jump>
	</sections>
</config>
